/* ====================================
   All region in project
   ==================================== */

.area {
    position: relative;
    &__bg {
        position: relative;
    }
    &__clickable {
        width: 27%;
        height: 40%;
        position: absolute;
        right: 15.3%;
        bottom: 11%;
    }
    &__button {
        position: absolute;
        top: 50%;
        left: 50%;

        img {
            width: 32px;
            height: auto;
        }
    }
    &__paragraph {
        font-size: 36px;
        line-height: 1.6em;
        text-align: center;
        @include breakpoint(xs) {
            margin-top: 24px;
            font-size: 24px;
        }
        &.is-small {
            font-size: 18px;
        }
    }
    &__header {
        font-size: 60px;
        line-height: 1.1em;
        margin-bottom: 24px;
        text-align: center;
        @include breakpoint(xs) {
            margin-top: 24px;
            font-size: 32px;
        }
    }
    &--popup {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
        z-index: 2;
        @include breakpoint(xs) {
            // padding: 64px 0;
        }
        .area__header {
            padding-top: 64px;
            @include breakpoint(md) {
                font-size: 80px;
                text-transform: uppercase;
            }
        }
        .close-btn {
            cursor: pointer;
            position: fixed;
            top: 5%;
            right: 3%;
            img {
                width: 32px;
                height: auto;
            }
        }
        .img-responsive {
            @include breakpoint(md) {
                // height: 100%;
                // width: auto;
            }
        }
    }
    &--textoverlay {
        position: relative;
        .textoverlay {
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 3;
        }
        &.has-mask {
            .textoverlay {
                color: white;
            }
        }
    }
    &-01 {
        position: relative;
        .area__clickable {
            .area__button {
                transform: translate(0%, 0%);
                @include breakpoint(md) {
                    transform: translate(-50%, 60%);
                }
            }
        }
    }
    &-02 {
        background-color: #D6F7FE;
        padding: 124px 0;
        @include breakpoint(xs) {
            padding: 0 0 64px;
        }
    }
    &-03 {
        .area__clickable {
            &-01 {
                width: 20%;
                height: 14.8%;
                position: absolute;
                right: 44.3%;
                bottom: 54%;
                .area__button {
                    transform: translate(-50%, -50%);
                    @include breakpoint(md) {
                        transform: translate(160%, 60%);
                    }
                }
            }
            &-02 {
                width: 35%;
                height: 24.5%;
                position: absolute;
                right: 4.3%;
                bottom: 41%;
                .area__button {
                    transform: translate(-50%, -50%);
                    @include breakpoint(md) {
                        transform: translate(160%, 60%);
                    }
                }
            }
        }
    }
    &-04 {
        background-color: #FFF0E3;
        @include breakpoint(xs) {}
        .close-btn {
            cursor: pointer;
            position: fixed;
            top: 5%;
            right: 3%;
            img {
                width: 32px;
                height: auto;
            }
        }
    }
    &-05,
    &-07 {
        background: #F1FDF5;
    }
    &-06 {
        background-color: #FFF0E3;
    }
    &-next {
        position: absolute;
        bottom: 16px;
        right: 16px;
        cursor: pointer;
        width: 32px;
        img {
            width: 100%;
            height: auto;
        }
    }
    &-prev {
        position: absolute;
        bottom: 16px;
        left: 16px;
        cursor: pointer;
        width: 32px;
        img {
            width: 100%;
            height: auto;
        }
    }
    &.has-mask {
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: black;
            opacity: 0.5;
            z-index: 0;
        }
    }
}

*[class^="area__clickable"] {
    cursor: pointer;
}

body {
    &.fixed {
        height: 100%;
        overflow: hidden;
    }
}

// level 01 - episode 02
.lv01-ep01 {
    .area--popup {
        @include breakpoint(xs) {
            padding: 0;
        }
    }
}

.lv01-ep02 {
    .area {
        &-03 {
            background-color: #fef0e3;
        }
        &__clickable-01 {
            width: 15.7%;
            height: 24.6%;
            position: absolute;
            right: 29.2%;
            bottom: 35%;
            .area__button {
                transform: translate(0, 0);
            }
        }
        &__clickable-02 {
            width: 13.5%;
            height: 27%;
            position: absolute;
            right: 13.7%;
            bottom: 31.5%;
            .area__button {
                transform: translate(0, 0);
            }
        }
        &__clickable-03 {
            width: 17%;
            height: 11.5%;
            position: absolute;
            right: 11.7%;
            bottom: 86%;
        }
        &__clickable-04 {
            width: 12%;
            height: 11.5%;
            position: absolute;
            right: 23.7%;
            bottom: 7.8%;
        }
    }
}

// level 01 - episode 03
.lv01-ep03 {
    .area {
        &-02 {
            padding: 32px 0 0;
            .area__header {
                margin: 0;
            }
        }
        .area__clickable-01 {
            position: absolute;
            width: 20%;
            height: 29%;
            left: 5.6%;
            top: 13%;
        }
        .area__clickable-02 {
            position: absolute;
            width: 26.7%;
            height: 30.5%;
            left: 67.8%;
            top: 9.7%;
        }
        .area__clickable-03 {
            position: absolute;
            width: 23.8%;
            height: 28%;
            left: 35%;
            top: 12.5%;
        }
        .area__clickable-04 {
            position: absolute;
            width: 28%;
            height: 23.7%;
            left: 17.5%;
            top: 60.2%;
        }
        .area__clickable-05 {
            position: absolute;
            width: 17.1%;
            height: 35.7%;
            left: 60.1%;
            top: 54.2%;
        }
        .area__button {
            transform: translate(50%, 50%);
        }
        &-03,
        &-05,
        &-07 {
            background: #F1FDF5;
            .img-responsive {}
        }
        &-04,
        &-06 {
            background-color: #FFF0E3;
            .img-responsive {}
        }
    }
}

// level 01 - episode 04
.lv01-ep04 {
    .area {
        &-02 {
            .area__header {
                margin-top: 0;
                padding-top: 24px;
            }
        }
        .area__clickable-01 {
            position: absolute;
            width: 15.7%;
            height: 36%;
            left: 29%;
            top: 32%;
        }
        .area__clickable-02 {
            position: absolute;
            width: 15.4%;
            height: 31.7%;
            left: 2.8%;
            top: 37%;
        }
        .area__clickable-03 {
            position: absolute;
            width: 15.4%;
            height: 26.9%;
            left: 82%;
            top: 36.6%;
        }
        .area__clickable-04 {
            position: absolute;
            width: 15.5%;
            height: 37.7%;
            left: 55.6%;
            top: 31%;
        }
        .area__button {
            transform: translate(50%, 50%);
        }
        &-03,
        &-05,
        &-07 {
            background: #F1FDF5;
            .img-responsive {
                // max-width: 80%;
            }
        }
        &-04,
        &-06 {
            background-color: #FFF0E3;
            .img-responsive {
                // max-width: 80%;
            }
        }
        &--popup {
            .img-responsive {
                // max-width: 60%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-07 {
            padding: 32px 0;
            .area__header {
                margin-top: 0;
            }
        }
    }
}

// level 01 - episode 05
.lv01-ep05 {
    .area {
        &-02 {
            padding: 0;
            .area__header {
                margin-top: 0;
            }
        }
        .area__clickable-01 {
            position: absolute;
            left: 16%;
            top: 60%;
            width: 13.6%;
            height: 11%;
        }
        .area__clickable-02 {
            position: absolute;
            left: 38.7%;
            top: 59.5%;
            width: 6.8%;
            height: 12%;
        }
        &-03,
        &-05 {
            background: #F1FDF5;
            .img-responsive {}
        }
        &-04 {
            background-color: #FFF0E3;
            .img-responsive {}
        }
        &-07 {
            padding: 32px 0;
        }
        &--popup {
            .img-responsive {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .area__button {
            transform: translate(50%, 50%);
        }
    }
}

// level 01 - episode 06
.lv01-ep06 {
    .area {
        &-02 {
            .area__header {
                margin-top: 0;
                padding-top: 24px;
            }
        }
        .area__clickable-01 {
            position: absolute;
            left: 2%;
            top: 77%;
            width: 17.9%;
            height: 15.7%;
        }
        .area__clickable-02 {
            position: absolute;
            left: 42%;
            top: 17%;
            width: 57.9%;
            height: 36.7%;
        }
        .area__clickable-03 {
            position: absolute;
            left: 73%;
            top: 84%;
            width: 16.1%;
            height: 13.8%;
        }
        &-03,
        &-05 {
            background: #F1FDF5;
            .img-responsive {}
        }
        &-04 {
            background-color: #FFF0E3;
            .img-responsive {}
        }
        &--popup {
            .img-responsive {

                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

// level 01 - episode 07
.lv01-ep07 {
    .area {
        &-02 {
            // padding: 32px 0;
            // background-size: cover;
            // background-position: center center;
            // background-color: #F1FDF5;
            // position: relative;
            // &::before {
            //     background-color: black;
            //     opacity: 0.4;
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     bottom: 0;
            //     left: 0;
            // }
            // .area__header,
            // .area__paragraph {
            //     color: white;
            // }
        }

        .area__clickable-01 {
            position: absolute;
            left: 35%;
            top: 74%;
            width: 16.9%;
            height: 16.8%;
        }

        .area__clickable-02 {
            position: absolute;
            left: 60%;
            top: 71%;
            width: 7.8%;
            height: 11.7%;
        }

        .area__clickable-03 {
            position: absolute;
            left: 62%;
            top: 50%;
            width: 17.8%;
            height: 11.7%;
        }

        .area__clickable-04 {
            position: absolute;
            left: 53%;
            top: 44%;
            width: 6.8%;
            height: 11.7%;
        }

        .area__clickable-05 {
            position: absolute;
            left: 88%;
            top: 60%;
            width: 10.8%;
            height: 24.7%;
        }

        &-05 {
            background: #F1FDF5;
            .img-responsive {}
        }

        &-04 {
            background-color: #FFF0E3;
            .img-responsive {}
        }

        &--popup {
            .img-responsive {}
        }
    }
}

// level 01 - episode 07
.lv01-ep08 {
    .area {
        .area__clickable-01 {
            position: absolute;
            left: 39%;
            top: 0%;
            width: 25%;
            height: 27%;
            @include breakpoint(md) {
                left: 36%;
            }
            .area__button {
                left: initial;
                right: 0;
            }
        }

        .area__clickable-02 {
            position: absolute;
            left: 43%;
            top: 27%;
            width: 14.8%;
            height: 8.7%;
            .area__button {
                left: 70%;
                top: 100%;
                width: 20%;
                img {
                    width: 100%;
                    height: auto;
                }
                @include breakpoint(md) {
                    top: 70%;
                    width: 15%;
                }
            }
        }
        .area__clickable-03 {
            position: absolute;
            left: 46%;
            top: 36%;
            width: 4.8%;
            height: 6.7%;
            @include breakpoint(md) {
                top: 32%;
            }
            .area__button {
                width: 50%;
                left: -10%;
                img {
                    width: 100%;
                    height: auto;
                }
                @include breakpoint(md) {
                    left: -18%;
                }
            }
        }
        .area__clickable-04 {
            position: absolute;
            left: 35%;
            top: 45%;
            width: 30.8%;
            height: 11.7%;
            @include breakpoint(md) {
                left: 29%;
            }
            .area__button {
                left: initial;
                right: 0;
            }
        }
        .area__clickable-05 {
            position: absolute;
            left: 45%;
            top: 81%;
            width: 9.8%;
            height: 19.7%;
            .area__button {}
        }

        &-05 {
            background: #F1FDF5;
            .img-responsive {}
        }

        &-04 {
            background-color: #FFF0E3;
            .img-responsive {}
        }

        &--popup {
            @include breakpoint(xs) {
                padding-top: 20px;
            }
        }
    }
}

// level 01 - episode 09
.lv01-ep09 {
    .area {
        &-02 {}
        .area__clickable-01 {
            position: absolute;
            left: 51%;
            top: 66%;
            width: 14.9%;
            height: 16.8%;
        }
        .area__clickable-02 {
            position: absolute;
            left: 28%;
            top: 35%;
            width: 11.8%;
            height: 31.7%;
        }
        .area__clickable-03 {
            position: absolute;
            left: 39.1%;
            top: 59%;
            width: 10.2%;
            height: 24%;
        }
        .area__clickable-04 {
            position: absolute;
            left: 62%;
            top: 39%;
            width: 11.8%;
            height: 20.7%;
        }
        &-05 {
            background: #F1FDF5;
            .img-responsive {}
        }
        &-04 {
            background-color: #FFF0E3;
            .img-responsive {}
        }

        &--popup {
            .img-responsive {}
        }
    }
}

//level 02
[class^="lv02-"] {
    .episode__header {
        @include breakpoint(md) {
            font-size: 80px;
        }
    }
}

//level 02 - episode 01
.lv02-ep01 {
    .area {
        &-03 {
            .area__clickable-01 {
                position: absolute;
                left: 75%;
                top: 8%;
                width: 4.9%;
                height: 26.8%;
            }
            .area__clickable-02 {
                position: absolute;
                left: 28.3%;
                top: 11%;
                width: 4.9%;
                height: 26.8%;
            }
            .area__clickable-03 {
                position: absolute;
                left: 16.8%;
                top: 8%;
                width: 4.9%;
                height: 26.8%;
            }
        }
        .area__button {
            transform: translate(50%, 50%);
        }
    }
}

// level 02 - episode 02
.lv02-ep02 {
    .area {
        &-03 {
            .area__clickable-01 {
                position: absolute;
                left: 11.2%;
                top: 6%;
                width: 26.9%;
                height: 42%;
            }
            .area__clickable-02 {
                position: absolute;
                left: 51%;
                top: 6%;
                width: 39%;
                height: 42%;
            }
            .area__clickable-03 {
                position: absolute;
                left: 11%;
                top: 54%;
                width: 27%;
                height: 40%;
            }
            .area__clickable-04 {
                position: absolute;
                left: 50.8%;
                top: 54%;
                width: 38%;
                height: 40%;
            }
            .area__button {
                transform: translate(100%, 100%);
            }
        }
    }
}

// level 02 - episode 03
.lv02-ep03 {
    .area {
        &-03 {
            .area__clickable-01 {
                position: absolute;
                left: 23.8%;
                top: 31%;
                width: 4.9%;
                height: 26.8%;
                @include breakpoint(md) {
                    top: 22%;
                    left: 18%;
                }
            }
            .area__clickable-02 {
                position: absolute;
                left: 66.8%;
                top: 31%;
                width: 4.9%;
                height: 26.8%;
                @include breakpoint(md) {
                    top: 20%;
                    left: 60%;
                }
            }
            .area__clickable-03 {
                position: absolute;
                left: 46%;
                top: 71%;
                width: 4.9%;
                height: 26.8%;
                @include breakpoint(md) {
                    left: 46%;
                    top: 75%;
                }
            }
            .area__clickable-04 {
                position: absolute;
                left: 84.8%;
                top: 71%;
                width: 4.9%;
                height: 26.8%;
            }
        }
    }
}

// level 02 - episode 05
.lv02-ep05 {
    .area {
        &-03 {
            .area__clickable-01 {
                position: absolute;
                left: 88%;
                top: 45%;
                width: 4.9%;
                height: 26.8%;
                @include breakpoint(md) {
                    left: 82%;
                    top: 38%;
                }
            }
            .area__clickable-02 {
                position: absolute;
                left: 52%;
                top: 79%;
                width: 4.9%;
                height: 20.8%;
                @include breakpoint(md) {
                    left: 49%;
                    top: 75%;
                }
            }
            .area__clickable-03 {
                position: absolute;
                left: 27%;
                top: 26%;
                width: 4.9%;
                height: 26.8%;
            }
        }
    }
}

// level 02 - episode 06
.lv02-ep06 {
    .area {
        &-03 {
            .area__clickable-01 {
                position: absolute;
                left: 34%;
                top: 24%;
                width: 4.9%;
                height: 26.8%;
                @include breakpoint(md) {
                    left: 30%;
                    top: 20%;
                }
            }
            .area__clickable-02 {
                position: absolute;
                left: 80%;
                top: 30%;
                width: 4.9%;
                height: 20.8%;
                @include breakpoint(md) {
                    left: 73%;
                    top: 23%;
                }
            }
            .area__clickable-03 {
                position: absolute;
                left: 34%;
                top: 72%;
                width: 4.9%;
                height: 26.8%;
            }
            .area__clickable-04 {
                position: absolute;
                left: 80%;
                top: 72%;
                width: 4.9%;
                height: 26.8%;
                @include breakpoint(md) {
                    top: 75%;
                    height: 24.8%;
                }
            }
        }
    }
}

// level 02 - episode 08
.lv02-ep08 {
    .area {
        &-03 {
            .area__clickable-01 {
                position: absolute;
                left: 31%;
                top: 61%;
                width: 4.9%;
                height: 26.8%;
                @include breakpoint(md) {
                    top: 51%;
                    left: 27%;
                }
            }
            .area__clickable-02 {
                position: absolute;
                left: 80%;
                top: 80%;
                width: 4.9%;
                height: 19.8%;
                @include breakpoint(md) {
                    left: 75%;
                    top: 71%;
                }
            }
            .area__clickable-03 {
                position: absolute;
                left: 82%;
                top: 17%;
                width: 4.9%;
                height: 26.8%;
            }
        }
    }
}

// level 02 - episode 09
.lv02-ep09 {
    .area {
        &-03 {
            .area__clickable-01 {
                position: absolute;
                left: 21%;
                top: 28%;
                width: 4.9%;
                height: 26.8%;
                @include breakpoint(md) {
                    left: 15%;
                    top: 18%;
                }
            }
            .area__clickable-02 {
                position: absolute;
                left: 69%;
                top: 28%;
                width: 4.9%;
                height: 19.8%;
                @include breakpoint(md) {
                    top: 24%;
                    left: 64%;
                }
            }
            .area__clickable-03 {
                position: absolute;
                left: 36%;
                top: 70%;
                width: 4.9%;
                height: 23%;
            }
            .area__clickable-04 {
                position: absolute;
                left: 84%;
                top: 70%;
                width: 4.9%;
                height: 23%;
            }
        }
    }
}