/* ====================================
   All region in project
   ==================================== */

.area {
    &__bg {
        position: relative;
    }
    &__clickable {
        width: 27%;
        height: 40%;
        position: absolute;
        right: 15.3%;
        bottom: 11%;
    }
    &__button {
        position: absolute;
        top: 50%;
        left: 50%;

        img {
            width: 32px;
            height: auto;
        }
    }
    &__paragraph {
        font-size: 36px;
        line-height: 1.6em;
        text-align: center;
        @include breakpoint(xs) {
            margin-top: 24px;
            font-size: 24px;
        }
    }
    &__header {
        font-size: 60px;
        line-height: 1.1em;
        margin-bottom: 24px;
        text-align: center;
        @include breakpoint(xs) {
            margin-top: 24px;
            font-size: 32px;
        }
    }
    &--popup {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
        @include breakpoint(xs) {
            padding: 64px 0;
        }
        .area__header {
            padding-top: 64px;
            @include breakpoint(md) {
                font-size: 80px;
                text-transform: uppercase;
            }
        }
        .close-btn {
            cursor: pointer;
            position: fixed;
            top: 5%;
            right: 3%;
            img {
                width: 32px;
                height: auto;
            }
        }
    }
    &-01 {
        .area__clickable {
            .area__button {
                transform: translate(0%, 0%);
                @include breakpoint(md) {
                    transform: translate(-50%, 60%);
                }
            }
        }
    }
    &-02 {
        background-color: #D6F7FE;
        padding: 124px 0;
        @include breakpoint(xs) {
            padding: 0 0 64px;
        }
    }
    &-03 {
        .area__clickable {
            &-01 {
                width: 20%;
                height: 14.8%;
                position: absolute;
                right: 44.3%;
                bottom: 54%;
                .area__button {
                    transform: translate(-50%, -50%);
                    @include breakpoint(md) {
                        transform: translate(160%, 60%);
                    }
                }
            }
            &-02 {
                width: 35%;
                height: 24.5%;
                position: absolute;
                right: 4.3%;
                bottom: 41%;
                .area__button {
                    transform: translate(-50%, -50%);
                    @include breakpoint(md) {
                        transform: translate(160%, 60%);
                    }
                }
            }
        }
    }
    &-04 {
        background-color: #FFF0E3;
        padding: 124px 0;

        @include breakpoint(xs) {
            padding: 64px 0;
        }
        .close-btn {
            cursor: pointer;
            position: fixed;
            top: 5%;
            right: 3%;
            img {
                width: 32px;
                height: auto;
            }
        }
    }
    &-05,
    &-07 {
        background: #F1FDF5;
    }
    &-06 {
        background-color: #FFF0E3;
    }
}

body {
    &.fixed {
        height: 100%;
        overflow: hidden;
    }
}

// level 01 - episode 02
.lv01-ep02 {
    .area {
        &-03 {
            background-color: #fef0e3;
        }
        &__clickable-01 {
            width: 15.7%;
            height: 20.6%;
            position: absolute;
            right: 29.2%;
            bottom: 40%;
            .area__button {
                transform: translate(0, 0);
            }
        }
        &__clickable-02 {
            width: 13.5%;
            height: 24.5%;
            position: absolute;
            right: 13.7%;
            bottom: 36%;
            .area__button {
                transform: translate(0, 0);
            }
        }
        &__clickable-03 {
            width: 17%;
            height: 11.5%;
            position: absolute;
            right: 11.7%;
            bottom: 80%;
        }
        &__clickable-04 {
            width: 12%;
            height: 11.5%;
            position: absolute;
            right: 23.7%;
            bottom: 80px;
        }
    }
}